@using BackendAdapters.Models
@using BackendAdapters.Names
@using BackendAdapters.Operations
@using BackendAdapters.Workers
@* <iframe width="560" height="315" src="" frameborder="0" allowfullscreen></iframe> *@


@if (Item?.Type == myType)
{
    <div class="folder-toolbar">
        <button class="btn btn-sm folder-btn" type="button" @onclick="OnFolderClicked">Folder</button>
        <button class="btn btn-sm folder-btn" type="button" @onclick="ConfigClicked">Config</button>
        <button class="btn btn-sm folder-btn" type="button" @onclick="TerminalClicked">Terminal</button>
    </div>

    <div class="folder-toolbar">
        <button class="btn btn-sm folder-btn" type="button" @onclick="OnAddClicked">Add</button>
        <select @bind="@formSelectedType">
            <option value="Text">Text</option>
            <option value="Folder">Folder</option>
            <option value="Ref">Ref</option>
        </select>
        <input type="text" @bind=@formAddValue>
    </div>

   @foreach (var indexQname in GetIndexQnameDict())
   {
       <div>
           @indexQname.Key
           <input class="btn btn-sm folder-btn" type="button" value="@indexQname.Value" @onclick="() => OnBtnClicked(indexQname.Key)" />
       </div>
   }
}

@*
@foreach (var indexQname in GetIndexQnameDict())
{
    <tr>
        <td>@indexQname.Key</td>
        <!-- <td><a @onclick=@OnUrlClicked() href="#"></a></td> -->
        <input type="button" value="@indexQname.Value" @onclick="() => OnBtnClicked(indexQname.Key)" />
    </tr>
}
*@
@code {
    [Inject]
    private BackendAdapter Backend { get; set; }
    
    [Inject]
    private PluginAdapter Plugin { get; set; }
    
    [Inject]
    private RepoAdapter Repo { get; set; }
    
    [Parameter] 
    public Func<ItemModel, Task>? ReloadItemAsync { get; set; }

    [Parameter]
    public ItemModel Item
    {
        get;
        set;
    }

    [Parameter]
    public Action<ItemModel, bool> ReloadItem { get; set; }

    private string formAddValue;
    private string formSelectedType;

    private Dictionary<string, string> indexQnameDict;
    private string myType = "Folder";
    
    // private IArgsManagerService? _argsManager;

    protected override async Task OnInitializedAsync()
    {
        myType = "Folder";
        formSelectedType = "Text";
        ReloadComponent();
    }

    //private EventCallback<ItemModel2> itemChanged;

    [Parameter]
    public EventCallback<ItemModel> ItemChanged { get; set; }

    void ItemChangeHandler(ItemModel item)
    {

    }

    private void ReloadComponent()
    {
        indexQnameDict = GetIndexQnameDict();
    }

    private Dictionary<string, string> GetIndexQnameDict()
    {
        if (Item.Type == myType)
        {
            var tmp = IFrontendOperations.Json
                .TryDeserializeObject<Dictionary<string, string>>(
                    Item?.Body.ToString());
            if (tmp is Dictionary<string, string> dict)
            {
                return dict;
            }
        }

        return default;
    }


    
    private async Task OnAddClicked()
    {
        if (string.IsNullOrEmpty(formAddValue))
        {
            return;
        }

        var inputItem = new ItemModel();
        inputItem.AdrTuple = Item.AdrTuple;
        inputItem.Name = formAddValue;
        inputItem.Type = formSelectedType;

        var item2 = await Repo.PostParentItem(inputItem);

        // Refresh the folder to show the newly added item
        (bool s01, ItemModel updatedItem) = await Repo.GetItem(Item.AdrTuple);
        if (updatedItem != null)
        {
            Item = updatedItem;
            ReloadComponent();
            StateHasChanged();
        }
    }
    
    private async Task OnFolderClicked()
    {
        // (string, string) adrTuple = IFrontendOperations
        //     .NoSqlAddress
        //     .CreateAdrTupleFromAddress(Item.Address);
        await Plugin.OpenItemFolder(Item.AdrTuple);
    }
    
    private async Task ConfigClicked()
    {
        (string, string) adrTuple = IFrontendOperations
            .NoSqlAddress
            .CreateAdrTupleFromAddress(Item.Address);
        await Plugin.OpenConfig(adrTuple);
    }
    
    private async Task TerminalClicked()
    {
        await Plugin.OpenTerminal(Item.AdrTuple);
    }

    private async Task OnBtnClicked(string idxString)
    {
        int index = IFrontendOperations
            .TwoDigitsStr.TryToInt(idxString);
        (string, string) adrTuple = IFrontendOperations
            .NoSqlAddress
            .CreateAdrTupleFromAddress(Item.Address);
        (string, string) newAddress = IFrontendOperations
            .NoSqlAddress
            .JoinIndexWithLoca(adrTuple, index);
        (bool s01, ItemModel itemObj)  = await Repo.GetItem(newAddress);

        if (itemObj?.Type != myType)
        {
            //ReloadItem(itemObj, true);
            await ReloadItemAsync?.Invoke(itemObj)!;
            return;
        }

        //ReloadItem(itemObj, false);
        await ReloadItemAsync?.Invoke(itemObj)!;
        Item = itemObj;
        ReloadComponent();
    }
}
